VITE_SUPABASE_PROJECT_ID="xtunjarjbbgsghssofuf"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh0dW5qYXJqYmJnc2doc3NvZnVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMDAxOTksImV4cCI6MjA5MzU3NjE5OX0.8mi6fkXUA5cnf1pf_v1rbegzU3yZsMN90tfXu29xW0w"
VITE_SUPABASE_URL="https://xtunjarjbbgsghssofuf.supabase.co"
